table .views-node-edit{
	width: 30px !important;
	background-color: #2B2B2B !important;
	color: #51B8FC !important;
	border-bottom: 1px solid #000000;
}
table .views-node-edit a{
	color: #51B8FC !important;
}
.add-node-of-type{
	font-size: 20px !important;
	font-weight: bold !important;
	display: block;
	text-align: center;
}

